.hidden {
    display: none;
}

html,
body {
    height: 100%;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: #fff;
    margin: 0;
    padding: 0;
}

header {
    background-color: yellow;
    padding: 10px 0;
}

#main-logo {
    width: 300px;
    margin: 0 auto;
    display: block;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, .1);
}

#character-nav {
    background-color: #675050;
    background-image: url(../images/Banner2.jpg);
    background-size: cover;
    background-blend-mode: multiply;
}

#character-nav ul {
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 0;
}

#character-nav ul li {
    height: 220px;
    margin: 10px 8px;
    /*top, botttom, left right*/
    background-color: #920c02;
    box-shadow: 0 155px 0 0 yellow inset;
    transition: box-shadow 0.2s ease-in-out;
}

#character-nav ul li:hover {
    box-shadow: 0 220px 0 0 yellow inset;
}

#character-nav ul li h2 {
    color: white;
    font-size: 18px;
    text-align: center;
    transition: color 0.2s ease-in-out;
}

#character-nav ul li:hover h2 {
    color: black;
}

#character-nav ul li a {
    text-decoration: none;
}

.sprite {
    width: 150px;
    height: 150px;
    background-image: url(../images/HowtoTrainYourDragonSprites.jpg);
}

#toothless {
    background-position: -150px 0;
}

#light_fury {
    background-position: -300px 0;
}

#night_lights {
    background-position: -450px 0;
}

#stormfly {
    background-position: -600px 0;
}

#astrid {
    background-position: -750px 0;
}

#cap:hover,
#carol:hover,
#clint:hover,
#hulk:hover,
#thor:hover,
#widow:hover {
    background-position-y: -150px;
}

#instructions {
    padding: 20px;
    text-align: center;
}

#instructions h3 {
    font-size: 32px;
    text-align: center;
    margin-bottom: 14px;
}

footer {
    padding: 10px 0;
    height: auto;
    font-size: 0.9em;
    text-align: center;
    background-color: rgb(40, 37, 37);
    position: sticky;
    top: 100%;
}


.lightbox:target {
    display: block;
}

.lightbox {
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    background-image: url(../images/Hiccup_background.webp);
    background-size: 200px;
    background-repeat: no-repeat;
    background-position: 17% center;
    background-color: rgba(0, 0, 0, .85);
    display: none;
    text-align: right;
}

#lightbox2 {
    background-image: url(../images/Toothless_background.webp);
    background-size: 500px;
    background-position: 12% center;
}

#lightbox3 {
    background-image: url(../images/LightFury_background.webp);
    background-size: 500px;
    background-position: 12% center;
}


#lightbox4 {
    background-image: url(../images/Night_Lights_background.webp);
    background-size: 500px;
    background-position: 5% center;
}

#lightbox5 {
    background-image: url(../images/Stormfly_background.webp);
    background-size: 550px;
    background-position: 2% center;
}

#lightbox6 {
    background-image: url(../images/Astrid_background.webp);
    background-size: 270px;
    background-position: 14% center;
}

.lightbox_close {
    color: white;
    font-size: 3em;
    text-decoration: none;
    font-weight: bolder;
    margin-right: 20px;
    margin-top: 20px;
}

.lightbox_close:hover {
    opacity: 0.5;
    color: red;
}

.lightbox article {
    width: 600px;
    margin-left: 40%;
    padding-top: 50px;
}

.lightbox p,
.lightbox h3 {
    text-align: left
}